html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  text-align: center;
}

.btn {
  font-size: 1.125em;
  padding: .4em;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  background-color: #333;
  color: #fff;
  text-align: center;
  border: 3px solid #333;
  margin: .4em;
}

.btn-subtle {
  background-color: #ccc;
  border-color: #ccc;
}

.btn-ghost {
  background-color: #fff;
  color: #000;
}

.btn-warning {
  background-color: #f33;
  border-color: #f33;
}

.btn-small {
  font-size: .875em;
}

.btn-big {
  font-size: 1.5em;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
}

.btn-subtle:hover {
  background-color: #333;
  border-color: #333;
}

.btn-ghost:hover {
  background-color: #333;
  border-color: #333;
}

.btn-warning:hover {
  background-color: #933;
  border-color: #933;
}
